*.user
*.suo
*.ncb
*.sdf
*.xml
*.filters
*.plg
*.opt
*.db
*.opensdf
.vs/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
debug/
debugaxp/
qc
release/
releaseaxp/
ipch/
_upgradereport_files/
steam/
sys/linux/glimp_dlopen.cpp
sys/linux/glimp_local.h
makefile
